.single-tweet {
  display: flex;
  gap: 1rem;
  padding: 1rem;

  margin-bottom: 1rem;
  border-bottom: 1px solid var(--color-grey-light);
  position: relative;
}

.single-tweet img {
  object-fit: contain;
}

.single-tweet article {
  width: 100%;
}

.tweet-text {
  display: flex;
  /* justify-content: space-between; */

  gap: 20px;
}

.single-tweet p {
  margin-bottom: 1rem;
}

.tweet-icons {
  display: flex;
  justify-content: space-between;
  padding-inline: 0.5rem;
  width: 100%;
}

.tweet-icons svg {
  cursor: pointer;
}

/* .tweet-menu {
  position: absolute;
  right: 40px;
  top: 10px;
  text-align: right;
  background-color: white;
  padding: 1rem 0.5rem;
  border: 1px solid var(--color-main-blue);
  border-radius: 10px;
} */

.tweet-menu {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  gap: 10px;
}

.tweet-menu p {
  cursor: pointer;
}
