.single-tweet {
  display: flex;
  gap: 1rem;
  padding: 1rem;

  border-bottom: 1px solid var(--color-main-blue);
  position: relative;
  margin-bottom: 1rem;
}

.single-tweet img {
  width: 50px;
  object-fit: contain;
}

.single-tweet article {
  width: 100%;
}

.single-tweet p {
  margin-bottom: 1rem;
}

.new-tweet-area {
  padding-right: 2rem;
}

.profile-area {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 1rem;
}

.profile-area p {
  margin-bottom: 5px;
}

.profile-area p:last-of-type {
  color: var(--color-grey-light);
}

.time-of-tweet {
  text-align: right;
  color: var(--color-grey-light);
}

.tweet-icons {
  display: flex;
  justify-content: space-between;
  padding-inline: 0.5rem;
  width: 100%;
}

.tweet-icons svg {
  cursor: pointer;
  margin-bottom: 1rem;
}

.tweet-menu {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.tweet-menu svg {
  cursor: pointer;
}

.tweet-menu p {
  cursor: pointer;
}

.text-area input {
  width: 20rem;
  border: none;
  border-bottom: 1px solid var(--color-grey-light);
  padding: 10px 0;
  font-size: 1rem;
  margin-bottom: 1rem;
  color: var(--color-grey-light);
}

.text-area input:focus {
  outline: none;
  border-bottom: 1px solid var(--color-main-blue);
}

.retweeted-tweet-box {
  border: 1px solid var(--color-grey-light);
  border-radius: 10px;
  padding: 0.5rem;
  margin-bottom: 1rem;
}
