/* the whole tweet with comments */
.single-tweet {
  display: flex;
  gap: 1rem;
  padding: 1rem;

  /* border-bottom: 1px solid var(--color-main-blue); */
  position: relative;
  margin-bottom: 1rem;

  /* border: 1px solid var(--color-grey-light); */
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.154);
}

.single-tweet svg {
  cursor: pointer;
}

.single-tweet p {
  margin-bottom: 1rem;
}

.single-tweet article {
  width: 100%;
}

/* area of the actual, original tweet */
.new-tweet-area {
  padding-right: 2rem;
}

.profile-area {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 1rem;
}

.profile-area img {
  width: 50px;
  object-fit: contain;
  border-radius: 100%;
}

.profile-area p {
  margin-bottom: 5px;
}

.profile-area p:last-of-type {
  color: var(--color-grey-light);
}

.new-tweet-area textarea {
  width: 20rem;
  border: none;
  border-bottom: 1px solid var(--color-grey-light);
  padding: 10px 0;
  font-size: 1rem;
  margin-bottom: 1rem;
  color: var(--color-grey-light);
}

.new-tweet-area textarea:focus {
  outline: none;
  border-bottom: 1px solid var(--color-main-blue);
}

.time-of-tweet {
  text-align: right;
  color: var(--color-grey-light);
}

/* Icons underneath the tweet (comment, retweet, like, share) */
.tweet-icons {
  display: flex;
  justify-content: space-between;
  padding-inline: 0.5rem;
  width: 100%;
}

/* icons on the right of tweet (edit, delete) */
.tweet-menu {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* showing the retweeted tweet in the tweet style if it exists */
.retweeted-tweet-box {
  border: 1px solid var(--color-grey-light);
  border-radius: 10px;
  padding: 0.5rem;
  margin-bottom: 1rem;
}
