.headerNav {
  display: flex;
  justify-content: center;
  padding: 2rem 1rem 1rem 1rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid black;
  gap: 3rem;

  position: relative;
}

.arrow-position {
  position: absolute;
  left: 40px;
  top: 50%;
  cursor: pointer;
}
