.add-comment {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.add-comment input {
  border: none;
  border-bottom: 1px solid var(--color-grey-light);
  padding: 10px 20px;
  font-size: 1rem;
  width: 70%;
}

.add-comment input:focus {
  outline: none;
  border-bottom: 1px solid var(--color-main-blue);
}
