.comments {
  padding-top: 1rem;
  background-color: rgb(248, 248, 248);
  border-radius: 10px;
  margin-top: 1rem;
}

.comments-with-input {
  padding-inline: 1rem;
  padding-bottom: 2rem;
}

.single-comment {
  border-bottom: 1px solid var(--color-grey-light);
  margin-bottom: 1rem;

  position: relative;
}

.comment-profile-area {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 1rem;
}

.comment-profile-area img {
  width: 30px;
  border-radius: 100%;
}

.comment-profile-area p {
  margin-bottom: 5px;
}

.comment-profile-area p:last-of-type {
  color: var(--color-grey-light);
}

.comments input {
  background-color: rgb(248, 248, 248);
}

/* delete + edit icon */
.comment-menu {
  position: absolute;
  top: 1rem;
  right: 1rem;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
