.delete-tweet-popup {
  position: absolute;
  top: 0;
  left: -300px;
  width: 250px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.466);
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  z-index: 1;
}

.delete-tweet-popup img {
  position: absolute;
  top: -1rem;
  left: -2rem;
}

.delete-tweet-popup svg {
  cursor: pointer;
  padding: 2px;
}
