@font-face {
  font-family: "Inter";
  src: url(/fonts/Inter.ttf);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: "Inter", system-ui, sans-serif;
}

:root {
  --color-main-blue: #1d9bf0;
  --color-grey-light: #ababab;
  --color-grey-dark: #141619;
  --color-main-red: #ce395f;
}

.wrapper {
  max-width: 450px;
  min-height: 100vh;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: unset;
}

.errorMessage {
  color: var(--color-main-red);
  font-size: 1rem;
}

/* General styling for login/register forms */
.login-register-form {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-register-form input {
  border: none;
  border-bottom: 1px solid var(--color-grey-light);
  padding: 10px 20px;
  font-size: 1rem;
}

.login-register-form input:focus {
  outline: none;
  border-bottom: 1px solid var(--color-main-blue);
}

.login-register-form ::placeholder {
  font-size: 1rem;
}

.login-register-form input:last-of-type {
  margin-bottom: 2rem;
}

.login-register-form button {
  cursor: pointer;
  color: white;
  background-color: #1d9bf0;
  text-align: center;
  border: none;
  border-radius: 25px;
  padding-block: 0.5rem;
  font-size: 1rem;
}

.login-register-form div {
  position: relative;
  margin-top: -30px;
}

.login-register-form .eye {
  position: absolute;
  right: 30px;
  top: 12px;
  font-size: 20px;
}
