.userpage__header-container {
  background-color: black;
  padding-top: 0.9rem;
  padding-bottom: 0.6rem;
}

.userpage__header__name {
  font-weight: 600;
  color: white;
}

.userpage__arrow {
  color: white;
}

.userpage__profile-image img {
  border-radius: 100%;
  width: 65px;
  height: 65px;
  margin-top: -1.5rem;
  margin-left: 1rem;
  overflow: hidden;
  border: 1.5px solid white;
}

.userpage__profile-content-container {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  padding-inline: 1.5rem;
  position: relative;
}

.userpage__username-bold {
  font-weight: 700;
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 0.2rem;
}

.userpage__username {
  color: var(--color-grey-light);
  margin-bottom: 1rem;
}

.userpage__description {
  margin-bottom: 0.5rem;
}

.userpage__bottom-container {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.2rem;
}

.userpage__bottom-container div {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.2rem;
  align-items: center;
}

.userpage__bottom-container a {
  color: var(--color-main-blue);
  cursor: pointer;
}

.userpage__follow-container div {
  display: flex;
  gap: 1rem;
}

.userpage__follow-container p {
  color: var(--color-grey-light);
}

.userpage__follow-container span {
  font-weight: 700;
  color: var(--color-grey-dark);
  margin-right: 0.2rem;
}

.userpage__modify-icons-container {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  align-items: center;
  justify-content: center;
}

.userpage__modify-icon {
  cursor: pointer;
}

.userpage__form {
  display: flex;
  flex-direction: column;
  padding-inline: 1.5rem;
  gap: 1rem;
}

.userpage__form input {
  padding: 0.5rem 1rem;
  border-radius: 15px;
  border: 0.5px solid var(--color-grey-dark);
  color: var(--color-main-blue);
}

.userpage__form input::placeholder {
  color: var(--color-main-blue);
}

.userpage__heading_edit {
  font-size: 1.2rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  color: var(--color-grey-dark);
}

.userpage__form__button-container {
  display: flex;
  gap: 1rem;
}

.userpage__form__button-container button {
  width: 100%;
  padding-block: 0.5rem;
}

.userpage__button--grey {
  background-color: var(--color-grey-light);
  border: 1px solid var(--color-grey-light);
}

.userpage__userFeed-container {
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 1px solid var(--color-grey-light);

  margin-bottom: 6rem;
}
