footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 450px;
  margin: 0 auto;

  padding-bottom: 2rem;
  padding-inline: 1rem;
}

footer nav {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

.active {
  stroke: var(--color-main-blue);
}
